bcrypt==5.0.0
blinker==1.8.2
cffi==1.17.1
click==8.1.8
cryptography==46.0.3
dnspython==2.6.1
et-xmlfile==2.0.0
flask==3.0.3
Flask-Cors==5.0.0
flask-sock==0.7.0
h11==0.16.0
importlib-metadata==8.5.0
itsdangerous==2.2.0
jinja2==3.1.6
MarkupSafe==2.1.5
numpy==1.24.4
openpyxl==3.1.5
pandas==2.0.3
pycparser==2.23
PyJWT==2.9.0
pymongo==4.10.1
python-dateutil==2.9.0.post0
pytz==2025.2
simple-websocket==1.1.0
six==1.17.0
typing-extensions==4.13.2
tzdata==2025.2
werkzeug==3.0.6
wsproto==1.2.0
zipp==3.20.2
